.css-1ne6f6t-MuiPaper-root-MuiAppBar-root {
  flex-direction: row !important;
}

.css-6iz4mj-MuiButtonBase-root-MuiIconButton-root {
  background-color: white !important;
}

.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
  height: fit-content !important;
}
/*fix