.renderCards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Comment {
  display: flex;
  flex-direction: column;
}

.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
  background-color: rgba(0, 0, 0, 0.02) !important;
}

.css-1wnsr1i {
  border-radius: 30px;
  border: 5px solid #6b041f !important;
}

.css-i4bv87-MuiSvgIcon-root {
  color: #6b041f !important;
}

.css-dpjnhs-MuiInputBase-root-MuiOutlinedInput-root {
  background-color: white !important;
  color: black !important;
  font-weight: 500;
}

.css-n4qzfg-MuiPaper-root-MuiCard-root {
  color: green;
  font-size: 1.5rem;
}

.recette {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
}

.commentaires {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
}

.linkCom {
  text-decoration: none;
  color: #6b041f;
}

.linkCom:hover {
  text-decoration: underline;
  color: #880628;
}

.css-1wnsr1i {
  box-shadow: 0px 2px 13px -8px rgba(0, 0, 0, 0.2) !important;
}
/*fix