.inputEdit {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 10vh;
  gap: 50px;
  width: fit-content;
  border: 10px solid #f4cb9e;
  padding: 5vh;
  font-size: 1.5rem;
}

.ficheProfil {
  display: flex;
  justify-content: center;
}
