.inputEdit {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 10vh;
  gap: 50px;
  background-color: #f4cb9e;
  padding: 5vh;
}
