.inputEdit {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 10vh;
  gap: 50px;
  /* background-color: #f4cb9e; */
  padding: 5vh;
  font-size: 1.5rem;
}

.inputCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vh;
  border: 10px solid #f4cb9e;
  width: 25vw;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: #6b041f !important;
}

@media (max-width: 769px){
  .inputCard {
   height: 80%!important;
   border: none;
   }
   .css-1koenj9-MuiButtonBase-root-MuiButton-root {
    margin-top: 2vh!important;
   }
   .css-1fr0jp-MuiButtonBase-root-MuiButton-root{
    margin-top: 2vh!important;
   }
 .profilCard {  height: 65vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 3vh;
   border: 6px solid #f4cb9e;
   width: 60vw;
   font-family: "Roboto", "Helvetica", "Arial", sans-serif;}
 }
 .profilCard p {
  padding: 1.5vh!important;
 }

 @media (max-width: 1100px){
  .inputCard {
   height: 80%!important;
   border: none;
   }
   .inputEdit{
    
   }
   .css-1koenj9-MuiButtonBase-root-MuiButton-root {
    margin-top: 5vh!important;
   }
   .css-1fr0jp-MuiButtonBase-root-MuiButton-root{
    margin-top: 2vh!important;
   }
  }