@media (min-width: 600px) {
  .NavBar {
    display: block !important;
  }

  .NavBarMobile {
    display: none !important;
  }
}

@media (max-width: 599px) {
  .NavBar {
    display: none !important;
  }

  .NavBarMobile {
    display: block !important;
  }
}
