.profil-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7vh;
  font-size: 1.5rem;
}

.profilCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vh;
  border: 6px solid #f4cb9e;
  width: 35vw;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.profilCard p {
  margin: 2vh !important;
  text-align: justify;
}

@media (max-width: 599px) {
  .profilCard {
    display: none !important;
  }
  .profilCardMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh;
    border: 2px solid #f4cb9e;
    width: auto;
    height: 65vh;
    gap: 3%;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  }
  .profilCardMobile p {
    margin: 2vh !important;
    text-align: justify;
  }

  .profilCardMobile span {
    padding-left: 3vh;
  }
  .profilCardMobile {
  }
  .css-1fr0jp-MuiButtonBase-root-MuiButton-root {
    margin-top: 5vh;
  }
  .profilCardMobile h3 {
    font-size: 1.2rem !important;
  }
  .profilCardMobile p {
    font-size: 1rem !important;
    margin: 0vh !important;
    padding: 5px;
    text-align: justify;
  }
  .profilCardMobile span {
    text-align: justify;
    font-size: 1rem;
    padding-top: 5px;
  }
}

@media (min-width: 599px) {
  .profilCardMobile {
    display: none;
  }
}

@media (max-width: 768px) {
  .profilCard {
    display: none !important;
  }
  .profilCardMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh;
    border: 2px solid #f4cb9e;
    width: auto;
    height: 65vh;
    gap: 3%;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  }
  .profilCardMobile p {
    margin: 2vh !important;
    text-align: justify;
  }

  .profilCardMobile span {
    padding-left: 3vh;
  }
  .profilCardMobile {
  }
  .css-1fr0jp-MuiButtonBase-root-MuiButton-root {
    margin-top: 5vh;
  }
  .profilCardMobile h3 {
    font-size: 1.2rem !important;
  }
  .profilCardMobile p {
    font-size: 1rem !important;
    margin: 0vh !important;
    padding: 5px;
    text-align: justify;
  }
  .profilCardMobile span {
    text-align: justify;
    font-size: 1rem;
    padding-top: 5px;
  }
}
